<section class="cat">
    <a href="/cats/{{name}}">
    <div class="cat-body">
        <p>{{name}}</p>
        <p>{{breed}}</p>
        <p>{{size}}</p>
        <p>{{age}}</p>
        <p>{{affection}}</p>
        <p>{{availability}}</p>
    </div>
    </a>
</section>