<section class="card">
    <a href="/cats/{{id}}">
    <header>{{name}}</header>

    <div class="cat-body">
       <img src="/public/Cats/{{pictures}}">
        <p>{{breed}}</p>
        <p>{{size}}</p>
        <p>{{age}}</p>
        <p>{{affection}}</p>
        <p>{{}}</p>