{{!-- {{#if loggedIn}}
<section class="card">
    <header>{{name}}</header>
    {{#each cat.picture as |picture|}}
    {{> cat-profile}}
    {{/each}}
    </a>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}} --}}



<main>
    {{#each cats as |cat|}}

    <section id="catCard">
        <a href="/{{cat.id}}" id="cardContent">
            <h1 id="cat_name"> {{cat.name}} </h1>
            <img class="catProfile" src="./Cats/{{cat.name}}.jpg" alt="CatPicture">
            <h2 id="breed">{{cat.breed}}</h2>
            {{!-- <div id="Catinfo">
                <div class="cirlceinfo" id="age">{{cat.age}}yr</div>
                <div class="cirlceinfo" id="size">{{cat.size}}</div>
                <div class="cirlceinfo" id="affection">{{cat.affection}}</div>
                {{#if availability}}
                <div class="cirlceinfo" id="availability" style="background-color: #238636;"></div>
                {{else}}
                <div class="cirlceinfo" id="availability" style="background-color: #fe4a49;"></div>
                {{/if}}
            </div> --}}
        </a>
    </section>
     {{/each}}
</main>